<IfModule mod_rewrite.c>
    RewriteEngine On

    # Перенаправляем все запросы в папку public/
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L]

    # Внутри public/ уже работает стандартный .htaccess Laravel
</IfModule>

<IfModule mod_negotiation.c>
    Options -MultiViews -Indexes
</IfModule>